<!-- about section starts here -->

<section class="container">
	
  <div>
  	<h2>About us</h2>
  	<br><br>
    <p>Thanks for visiting this page!<p>
    <p>We are a team of passionate bikers. Come and meet us!</p>

  </div><!-- end main-text -->

</section><!-- end about section -->

