<!-- about section starts here -->
<section class="container">
	
  <header>
 		<h1>About us</h1>
  </header>

  <div>
    <h2>Thanks for visiting this page!</h2>
    <p>We are a team of passionnate bikers. Come and meet us!</p>

  </div><!-- end main-text -->

</section><!-- end about section -->

