<!-- about section starts here -->
    <div class="container ptop60" id="about" data-stellar-background-ratio="0.5">
      <div class="row">
        <div class="col-md-12">
          <div class="header">
            <h1>About Xavier</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-xs-12">
          <div class="bder-rad10">
            <img src="img/about_XS_resized.jpg" alt="me" class="img-responsive">
          </div><!-- end image -->
        </div>
        
        <div class="col-md-6 col-md-12">
          <div class="intro">
            <h2>Thanks for visiting this page!</h2>
            <br><p><em>Let me support and increase your project's impact through web development!</em></p>
          </div><!-- end intro -->
        </div>
        
        <div class="col-md-3 col-md-12">
          <div class="skills">
            <h3>My Skills:</h3>
            <ul id="skills-list">
              <p><em>Web development:</em></p>
              <li>HTML5</li>
              <li>CSS</li>
              <li>Boostrap</li><br>
              <p><em>Other:</em></p>
              <li>Marketing plan</li>
              <li>Strategic plan</li>
              <li>...</li>
            </ul>
          </div><!-- end skills !-->
        </div>
      </div><!-- end row -->
      
      <div class="row">
        <div class="main-text col-md-12">
          <div class="row">
            <h3 class="learn-more">More about me</h3>
            <div class="modal-button">
                <!-- large modal button -->
                <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Resume</button>
                <!-- large modal -->
                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" data-backdrop="static"  data-keyboard="false">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Resume</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      </div>
                      <div class="modal-body">
                        <embed id="modalembed" src="img/evalotta_lamm.pdf">
                      </div>
                    </div>
                  </div>
                </div><!-- end small modal -->

            </div>
          </div>
          </div>
          <div>
          <p>I am a French engineer with 15 years work experience mostly in Sales of industrial systems. Although I have already developped few website as a hobby some 15 years ago, I would like to do it more seriously now and be part of a more agile environment.<br><br>

          I will be happy to help you build your digital projects! I am confident that my strong determination, committment and happinest will be valuable to your success.<br><br>

          When not working or learning code I enjoy to travel and discover new countries and cultures. I am also found of sports in particular running, trekking and sailing.</p>
        </div><!-- end main-text -->
      </div>
    
    </div> <!-- end container about section -->