<!-- index section starts here -->
<section class="container">
	
	<header>
		<h1>Welcome to Bike Berlin</h1>
	</header>

	<div>
		<h2>Your source for used bikes in Berlin</h2>

		<%= image_tag("bike0.jpg", class: "img-responsive") %>
	
		<p>If you are looking for a used bike in great condition come to Bike Berlin. All our bikes comes with a 3 months warranty.

	</div>

</section>
