<!-- index section starts here -->
<section class="container">
	
	<div class="page_content">
		<h1>Welcome to Bike Berlin, your source for used bikes in Berlin</h1>
		<br><br>

		<%= image_tag("bike_index.png", height: "100", width:"400", class: "img-responsive center-block") %>
	
		<br><br>
		<p>If you are looking for a used bike in great condition come to Bike Berlin. All our bikes comes with a 3 months warranty.
	</div>

</section>
